<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.teachers.mapper.StudentInfoMapper">

    <!-- 多结构嵌套自动映射需带上每个实体的主键id 否则映射会失败 -->
    <resultMap type="org.dromara.teachers.domain.vo.StudentInfoVo" id="SysUserResult">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <association property="uuid" column="uuid"/>
    </resultMap>

    <select id="selectPageStudentInfoList" resultType="org.dromara.teachers.domain.vo.StudentInfoVo">
        select * from student_info ${ew.getCustomSqlSegment}
    </select>
</mapper>
