<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.teachers.mapper.TeacherTrainingTeamMapper">

    <resultMap type="org.dromara.teachers.domain.entity.TeacherTrainingTeam" id="TeacherTrainingTeamMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectPageTeacherTrainingTeamList"
            resultType="org.dromara.teachers.domain.vo.TeacherTrainingTeamVo">
        select * from teacher_training_team ${ew.getCustomSqlSegment}

    </select>


</mapper>

