<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.teachers.mapper.TeacherExerciseTypeMapper">

    <resultMap type="org.dromara.teachers.domain.vo.TeacherExerciseTypeVo" id="TeacherExerciseTypeMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="exerciseName" column="exercise_name" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="INTEGER"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectExerciseTypeVoPage" resultType="org.dromara.teachers.domain.vo.TeacherExerciseTypeVo">
        select * from teacher_exercise_type ${ew.getCustomSqlSegment}
    </select>

</mapper>

