<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.teachers.mapper.HealthMetricsMapper">

    <resultMap id="taskHealthMetricsMap" type="org.dromara.teachers.domain.vo.TaskHealthMetricsVo">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id" jdbcType="INTEGER"/>
        <result property="battery" column="battery" jdbcType="INTEGER"/>
        <result property="studentName" column="student_name" jdbcType="VARCHAR"/>
        <result property="braceletId" column="bracelet_id" jdbcType="VARCHAR"/>
        <result property="timestamp" column="timestamp" jdbcType="INTEGER"/>
        <result property="totalSteps" column="total_steps" jdbcType="INTEGER"/>
        <result property="totalCalories" column="total_calories" jdbcType="INTEGER"/>
        <result property="totalDistance" column="total_distance" jdbcType="INTEGER"/>
        <result property="heartRate" column="heart_rate" jdbcType="INTEGER"/>
        <result property="bloodPressure" column="blood_pressure" jdbcType="INTEGER"/>
        <result property="bloodOxygen" column="blood_oxygen" jdbcType="INTEGER"/>
    </resultMap>

    <delete id="cleanUpExpiredData">
        TRUNCATE TABLE teacher_health_metrics
    </delete>

    <select id="selectTestList" resultType="org.dromara.teachers.domain.entity.HealthMetrics">
        select * from health_metrics
    </select>

    <select id="selectHealthMetricsListByBraceletsId" resultMap="taskHealthMetricsMap">
        select
            b.id as student_id,
            b.name as student_name,
            a.uuid as bracelet_id,
            a.timestamp,
            a.total_steps,
            a.total_calories,
            a.total_distance,
            a.heart_rate,
            a.blood_pressure,
            a.blood_oxygen,
            a.battery
        from teacher_health_metrics a
            left join teacher_student_info  b on a.uuid=b.uuid
        where a.uuid=#{uuid} and a.timestamp>=#{time} order by a.timestamp desc limit 2;
    </select>

    <select id="selectDataWithinTimeRange" resultType="org.dromara.teachers.domain.vo.HealthMetricsVo">
        SELECT *
        FROM teacher_health_metrics
        WHERE timestamp &lt; #{endTime} AND timestamp &gt; #{startTime}
        <if test="uuids != null and uuids.size() > 0">
            AND uuid IN
            <foreach item="uuid" index="index" collection="uuids" open="(" separator="," close=")">
                #{uuid}
            </foreach>
        </if>


    </select>
</mapper>
